.carousel .indicators .indicator-item {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.carousel .indicators .indicator-item.active {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

img.profile {
    max-width: 15rem;
}