html {
    font-size: 1em;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/*css reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*css reset*/

img {
    max-width: 100%;
}

h3,
a {
    font-family: 'Roboto', sans-serif;
}

a {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

p {
    line-height: 30px;
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    background-color: #fafafa;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 20px;
}

#preloader {
    background: none repeat scroll 0 0 #fff;
    display: block;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.loader {
    height: 50px;
    width: 50px;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

.circle-loader {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 20%;
    width: 50px;
}

.circle-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #3f88f8;
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}


/* --------------------------------- */


/* 4. Home Section Styles
 ----------------------------------- */

#home {
    background: url('../images/road-sky-sand-street.jpg') no-repeat fixed center center / cover;
}

#home .sec-overlay {
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
}

.home-inner {
    display: table;
    height: calc(100vh - 50px);
    padding-top: 80px;
    width: 100%;
}

.home-content {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

.home-title {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.home-subtitle {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 38px;
    text-transform: uppercase;
}

.home-content>a.btn-large i {
    font-size: 20px;
    margin-right: 10px;
}

.home-content>a.btn-large {
    height: 45px;
    line-height: 45px;
}

.about-inner {
    margin: 60px 0;
}

.person-about .title {
    margin-bottom: 15px;
}

.about-subtitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.person-about .subtitle {
    font-weight: 100;
    font-size: 35px;
    margin-bottom: 20px;
}

.person-img img {
    border: 8px solid #fff;
}

.person-about p {
    color: #727272;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 35px;
}

.person-info h5 {
    border-bottom: 1px solid #eeeeee;
    color: #727272;
    font-size: 14px;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.person-info h5 span {
    display: inline-block;
    min-width: 70px;
}

.person-about>a.btn-large {
    background-color: #fff;
}

.person-about>a.btn-large {
    font-size: 14px;
}

.person-about>a.btn-large,
.home-content>a.btn-large {
    padding-right: 15px;
    padding-left: 15px;
}

.person-about>a.btn-large i {
    font-size: 26px;
    margin-right: 8px;
}

.about-social {
    margin: 25px 0 0;
}

.about-social ul li {
    display: inline-block;
    margin-right: 8px;
}

.about-social ul li a i {
    font-size: 14px;
}

.hr-wrap {
    height: 73px;
    width: 1px;
    position: absolute;
    top: -73px;
    left: 50%;
}

.hrc:after {
    content: '';
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: -3px;
}

.root-sec {
    position: relative;
}

.btn-wrapp {
    position: absolute;
    right: 1.4%;
    top: 55.8%;
}

.btn-wrapp a {
    display: block;
    margin-bottom: 20px;
}

.btn-wrapp a:last-child {
    margin-bottom: 0;
}

.skill-wrap .btn-wrapp {
    bottom: 7.5%;
    top: auto;
    right: 4%;
}


/* --------------------------------- */


/* 14. Footer Styles
 ----------------------------------- */

.social-icons {
    float: left;
}

.copyright {
    float: right;
}

.footer-wrap {
    padding: 35px 0;
}

.social-icons li a {
    color: #727272;
    font-size: 20px;
}

.social-icons li a.facebook:hover {
    color: #3b5998;
}

.social-icons li a.linkedin:hover {
    color: #0976b4;
}

.social-icons li a.twitter:hover {
    color: #55acee;
}

.social-icons li a.google-plus:hover {
    color: #dd4b39;
}

.social-icons li a.dribbble:hover {
    color: #ea4c89;
}

.social-icons li a.behance:hover {
    color: #1769ff;
}

.material-tooltip {
    background-color: #303030;
    padding: 5px;
    line-height: inherit;
    font-size: 13px;
    min-height: inherit;
}

.material-tooltip span {
    font-size: 13px;
}

.social-icons li {
    margin-right: 20px;
    display: inline-block;
}

.copyright p {
    color: #c4c4c4;
    font-size: 12px;
    line-height: 20px;
}

/* --------------------------------- */
/* 2. Custom Utility Classes
 ----------------------------------- */

.padd-tb-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.padd-tb-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.padd-tb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.padd-tb-73 {
    padding-top: 73px;
    padding-bottom: 73px;
}

.padd-tb-55 {
    padding-top: 55px;
    padding-bottom: 55px;
}

.padd-tb-100-30 {
    padding-top: 100px;
    padding-bottom: 30px;
}

.marg-top-15px{
  margin-top: 15px;
}

.row {
    margin-bottom: 0;
}

.bottom-50 {
    margin-bottom: 50px;
}

.icon-size{
  font-size: 1.35rem;
}

.no-padding{
  padding: 0px 0px 0px 0px;
}

.side-nav{
  width:250px;
}

.register-modal{
  max-height: 90% !important;
  max-width: 90% !important;
  top: 5% !important;
}

.register-content{
  padding: 24px 0px 24px 0px !important;
}

.dropdown-content {
  min-width: 200px;
}

.ville_Etape{
  margin-left: 19px !important;
}

.mg-t20{
  margin-top: 20px;
}

.mg-t30{
  margin-top: 30px;
}

.mg-t50{
  margin-top: 50px;
}

.mg-b15{
  margin-bottom: 20px;
}

.date-depart-transport{
  font-size: 1.3em;
}

.bold{
  font-weight: bold;
}

.margin-r10{
  margin-right: 10px !important;
}
