
#map{
    height:400px;
}
input{
    color:black;
}
select{
    color:black;
}
textarea{
    color:black;
}
body{
    color:orange;
}
h2{
    font-size:2.5em !important;
    margin-top:-20px;
}
h3{
    color:orange !important;
}

#ajoutButton{
    width:50px;
}

strong{
    font-weight: bold !important;
}

.alert{
    font-size:1.5em;
}