#background {
    background: url('../../images/michelin-s-road-maps-taken-the-map-and-territory-syntopia-mapx.jpg') no-repeat fixed center center / cover;
}

#search {
    background-color: #34495e;
}

#transportSearch {
    background-color: #2980b9;
}

#transportResults {
    background-color: #2980b9;
}

#expeditionSearch {
    background-color: #e74c3c;
}

.bg-blanc {
    background-color: white;
    color: #444444;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

.formBox {
    background-color: white;
    border-radius: 3px;
    margin: 10px;
    padding-bottom: 10px !important;
}

.formBox input {
    color: #666666;
}

.transportItem {
    margin-bottom: 5px;
    background-color: white;
    color: #444444;
    margin: 5px;
    border-radius: 3px;
    padding: 10px;
}