
#map{
    height:400px;
}
input{
    color:black;
}
textarea{
    color:black;
}
body{
    color:cornflowerblue;
}
h2{
    font-size:2.5em !important;
    margin-top:-20px;
}
#info{
    font-size:1em;
}