#user-popup {
    text-align: center;
    input {
        width: 90%;
    }
    input[type="checkbox"] {
        width: 25px;
    }
    .uk-button {
        border-radius: 3px;
    }
    .uk-flex-item-1 a {
        outline: none;
        span {
            color: #3498db;
        }
        div {
            color: dimgrey;
        }
    }
}