@import 'flaticon';
body {
    margin: 0;
    padding: 0;
}

#page {
    height: 100vh;
}

#slideMenu {
    height: 100vh;
    background-color: #252526;
    color: white;
    padding-top: 10vh;
    .parent a {
        color: white;
        margin: 0px;
        font-size: 16px;
        &:hover {
            background-color: #202021;
            border-radius: 5px;
        }
    }
    .icon-menu {
        font-size: 26px;
        width: 50px;
        padding: 2px;
        display: inline-block;
    }
}

#content {
    padding-left: 0px;
    height: 100vh;
    #header {
        height: calc(10vh - 1px);
        text-align: center;
        border-bottom: 1px solid #2472fb;
        .logo {
            height: 90%;
        }
    }
    #pages {
        overflow: hidden;
        height: 90vh;
        .pages_item {
            height: 90vh;
        }
    }
}